<!doctype html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
  <title>Anime Details</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <th:block th:insert="~{fragments/bootstrap :: bootstrap}"></th:block>
  <!-- BOOTSTRAP STYLE -->
</head>

<body>

  <th:block th:replace="~{fragments/header :: header}"></th:block>
  <!-- HEADER -->

  <main>

    <th:block th:replace="~{fragments/anime-details :: anime-details}"></th:block>
    <!-- ANIME DETAILS -->

  </main>
  <!-- MAIN -->

  <th:block th:replace="~{fragments/footer :: footer}"></th:block>
  <!-- FOOTER -->

  <th:block th:replace="~{fragments/bootstrap :: bootstrapJs}"></th:block>
  <!-- BOOTSTRAP SCRIPT -->

</body>

</html>